//
//  UAT.xcconfig
//  EnviromentDemo
//
//  Created by Md. Masud Rana on 9/18/23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

//  Staging.xcconfig

// API URL
API_BASE_URL = http:/$()/my-less-cool-staging-url.com

// API Key
API_KEY = my_super_secret_staging_api_key

// Backward Compatible Values
IS_PRODUCTION = NO
ENV_NAME = staging

// Overriding (do NOT change key name)
// app name
PRODUCT_NAME = Test $(ENV_NAME)
// bundle id
PRODUCT_BUNDLE_IDENTIFIER = com.mycompany.myapp.$(ENV_NAME)
// app icon
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon1
// app version
MARKETING_VERSION = 1.0.0
// build number
CURRENT_PROJECT_VERSION = 1
